@charset "UTF-8";
:root {
  --color-primary: #7ed56f;
  --color-primary-light: #55c57a;
  --color-primary-dark: #28b485;
  --color-primary-light-transparent: rgba(85, 197, 122, 0.8);
  --color-primary-dark-transparent: rgba(39, 180, 133, 0.8);
  --color-grey-light: #eee;
  --color-grey-light-1: #f7f7f7;
  --color-grey-dark: #777;
  --color-white: #fff;
  --color-black: #000;
  --color-black-transparent: rgba(0, 0, 0, 0.2);
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  70% {
    opacity: 1;
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInTop {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opactity: 1;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-grey-dark);
  padding: 1.6rem;
}

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  /* fixes shake during animation of child elements*/
  backface-visibility: hidden;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  padding: 0 0 3rem 3.5rem;
  animation: moveInLeft 1.5s ease-in-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  padding: 0 0 7rem 1.72rem;
  animation: moveInRight 1.5s ease-in-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-dark));
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
}
.heading-secondary:hover {
  text-shadow: 0.5rem 1rem 2rem var(--color-black-transparent);
  transform: skew(15deg, 2deg) scale(1.1);
}

.u-margin-bottom-8rem {
  margin-bottom: 8rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  letter-spacing: 0.1px;
  font-size: 1.6rem;
  transition: all 0.2s;
  /* have to be on the initial state */
}
.btn--white {
  background-color: var(--color-white);
  color: var(--color-grey-dark);
}
.btn--white::after {
  background-color: var(--color-white);
  border-radius: 10rem;
}
.btn--animated {
  animation: moveInTop 0.5s ease-out 0.75s;
  /* 👇 will automatically apply the values specified in the 'moveIntop' keyframe, before the animation starts. */
  animation-fill-mode: backwards;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem var(--color-black-transparent);
  /* '::after' pseudo-element animation as we hover over original btn */
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem var(--color-black-transparent);
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, var(--color-primary-light-transparent), var(--color-primary-dark-transparent)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__title-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light-1);
  padding: 15rem 8rem 0;
  margin-top: -20vh;
}
.about__content-container {
  display: flex;
  justify-content: space-between;
}
.about__content {
  width: 45%;
  padding-top: 5rem;
}
.about__content > * {
  margin-bottom: 3rem;
}
.about__title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.about__text {
  font-size: 1.5rem;
  line-height: 2;
}
.about__images-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.about__images-container > * {
  position: absolute;
  box-shadow: 0.5rem 1rem 1.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.about__images-container > *:hover {
  box-shadow: 0.5rem 2rem 1.5rem rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
  z-index: 1;
}
.about__image-1 {
  top: 2rem;
  left: 2rem;
}
.about__image-2 {
  top: 5rem;
  right: 3rem;
}
.about__image-3 {
  bottom: 6rem;
}

/*# sourceMappingURL=style.css.map */
