@charset "UTF-8";
:root {
  --color-primary: #7ed56f;
  --color-primary-light: #55c57a;
  --color-primary-dark: #28b485;
  --color-primary-transparent: rgba(126, 213, 111, 0.8);
  --color-primary-light-transparent: rgba(85, 197, 122, 0.8);
  --color-primary-light-transparent-2: rgba(85, 197, 122, 0.5);
  --color-primary-dark-transparent: rgba(39, 180, 133, 0.8);
  --color-primary-dark-transparent-2: rgba(39, 180, 133, 0.5);
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-secondary-light-transparent: rgba(255, 187, 0, 0.8);
  --color-secondary-light-transparent-2: rgba(255, 187, 0, 0.5);
  --color-secondary-dark-transparent: rgba(255, 120, 48, 0.8);
  --color-secondary-dark-transparent-2: rgba(255, 120, 48, 0.5);
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  --color-tertiary-light-transparent: rgba(41, 152, 255, 0.8);
  --color-tertiary-light-transparent-2: rgba(41, 152, 255, 0.5);
  --color-tertiary-dark-transparent: rgba(85, 67, 250, 0.8);
  --color-tertiary-dark-transparent-2: rgba(85, 67, 250, 0.5);
  --color-grey-light: #eee;
  --color-grey-light-1: #f7f7f7;
  --color-grey-dark: #777;
  --color-grey-dark-2: #999;
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.8);
  --color-black: #000;
  --color-white-transparent: rgba(255, 255, 255, 0.7);
  --color-grey-light-transparent: rgba(238, 238, 238, 0.7);
  --color-black-transparent: rgba(0, 0, 0, 0.2);
  --color-black-transparent-2: rgba(0, 0, 0, 0.7);
  --default-font-size: 1.6rem;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  70% {
    opacity: 1;
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  70% {
    opacity: 1;
    transform: translateX(-1rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInTop {
  0% {
    transform: translateY(4rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opactity: 1;
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-grey-dark);
  padding: 1.6rem;
}

.heading-primary {
  color: var(--color-white);
  text-transform: uppercase;
  /* fixes shake during animation of child elements*/
  backface-visibility: hidden;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  padding: 0 0 3rem 3.5rem;
  animation: moveInLeft 1.5s ease-in-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  padding: 0 0 7rem 1.72rem;
  animation: moveInRight 1.5s ease-in-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-dark));
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s;
}
.heading-secondary:hover {
  text-shadow: 0.5rem 1rem 2rem var(--color-black-transparent);
  transform: skew(15deg, 2deg) scale(1.1);
}

.heading__tertiary {
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: var(--default-font-size);
  line-height: 2;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 6rem;
}

.u-margin-top-large {
  margin-top: 6rem;
}

.u-margin-top-large--1 {
  margin-top: 7rem;
}

.btn:link, .btn:visited {
  display: inline-block;
  position: relative;
  font-size: var(--default-font-size);
  text-transform: uppercase;
  letter-spacing: 0.1px;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  /* have to be on the initial state */
}
.btn--white {
  background-color: var(--color-white);
  color: var(--color-grey-dark);
}
.btn--white::after {
  background-color: var(--color-white);
  border-radius: 10rem;
}
.btn--green {
  background-color: var(--color-primary-light);
  color: var(--color-white);
}
.btn--green::after {
  background-color: var(--color-primary-light);
  border-radius: 10rem;
}
.btn--animated {
  animation: moveInTop 0.5s ease-out 0.75s;
  /* 👇 will automatically apply the values specified in the 'moveIntop' keyframe, before the animation starts. */
  animation-fill-mode: backwards;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem var(--color-black-transparent);
  /* '::after' pseudo-element animation as we hover over original btn */
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem var(--color-black-transparent);
}

.btn-inline:link, .btn-inline:visited {
  display: inline-block;
  font-size: var(--default-font-size);
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 1rem 0.3rem;
  color: var(--color-primary);
  border-bottom: 0.1rem solid var(--color-primary);
  transition: all 0.2s;
}
.btn-inline:hover {
  color: var(--color-white);
  background-color: var(--color-primary-light);
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem var(--color-black-transparent);
}
.btn-inline:active {
  transform: translateY(0px);
  box-shadow: 0 0.5rem 1rem var(--color-black-transparent);
}

.composition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}
.composition > * {
  position: absolute;
  width: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}
.composition > *:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 1;
  outline: 1.5rem solid var(--color-primary-dark);
  outline-offset: 2rem;
}
.composition:hover img:not(:hover) {
  transform: scale(0.9);
}
.composition__image--p1 {
  top: 1rem;
  left: 2rem;
}
.composition__image--p2 {
  top: 4rem;
  right: 4rem;
}
.composition__image--p3 {
  left: 20%;
  bottom: 0;
}

.feature__item {
  font-size: 1.5rem;
  width: 25rem;
  height: 28rem;
  padding: 4rem 2.5rem;
  text-align: center;
  border-radius: 3px;
  background-color: var(--color-white-transparent);
  box-shadow: 0 1.5rem 2rem var(--color-black-transparent);
  position: relative;
  z-index: 2;
  transition: transform 0.3s;
}
.feature__item:not(:last-child) {
  margin-right: 6rem;
}
.feature__item:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.feature__item--icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  -webkit-background-clip: text;
  color: transparent;
}
.feature__item--title {
  margin: 2rem 0;
}
.card {
  text-align: center;
  position: relative;
  width: 30rem;
  height: 45rem;
  perspective: 100rem;
}
.card__container {
  display: flex;
}
.card:not(:last-child) {
  margin-right: 4rem;
}
.card:hover .card__side-front {
  transform: rotateY(180deg);
}
.card:hover .card__side-back {
  transform: rotateY(0);
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem var(--color-black-transparent);
  transition: all 0.8s ease;
  backface-visibility: hidden;
}
.card__side-front-image {
  height: 23rem;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  background-blend-mode: screen;
}
.card__side-front-image--1 {
  background-image: linear-gradient(to bottom right, var(--color-secondary-light-transparent-2), var(--color-secondary-dark-transparent-2)), url("../img/nat-5.jpg");
}
.card__side-front-image--2 {
  background-image: linear-gradient(to bottom right, var(--color-primary-light-transparent-2), var(--color-primary-dark-transparent-2)), url("../img/nat-6.jpg");
}
.card__side-front-image--3 {
  background-image: linear-gradient(to bottom right, var(--color-tertiary-light-transparent-2), var(--color-tertiary-dark-transparent-2)), url("../img/nat-7.jpg");
}
.card__side-front-title {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: var(--color-white);
  position: absolute;
  top: 14rem;
  right: 2rem;
}
.card__side-front-title > * {
  padding: 0.6rem 1rem;
}
.card__side-front-title :first-child {
  position: relative;
  bottom: 0.6rem;
}
.card__side-front-title--1 > * {
  background-image: linear-gradient(to bottom right, var(--color-secondary-light-transparent), var(--color-secondary-dark-transparent));
}
.card__side-front-title--2 > * {
  background-image: linear-gradient(to bottom right, var(--color-primary-light-transparent), var(--color-primary-dark-transparent));
}
.card__side-front-title--3 > * {
  background-image: linear-gradient(to bottom right, var(--color-tertiary-light-transparent), var(--color-tertiary-dark-transparent));
}
.card__side-front-details {
  padding: 0 4rem;
  list-style: none;
}
.card__side-front-details > * {
  padding: 1.5rem 0;
}
.card__side-front-details :not(:last-child) {
  border-bottom: 2px solid var(--color-grey-light);
}
.card__side-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(-180deg);
}
.card__side-back--1 {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
}
.card__side-back--2 {
  background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-primary-dark));
}
.card__side-back--3 {
  background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark));
}
.card__side-back-title-container {
  color: var(--color-white);
  margin-bottom: 8rem;
}
.card__side-back-title--small {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.card__side-back-title--big {
  font-size: 6rem;
  font-weight: 100;
}

.testimonial {
  margin: 8rem auto 0;
  width: 65%;
  cursor: default;
  padding: 5rem 6.5rem 5rem 10rem;
  background-color: var(--color-grey-light-transparent);
  box-shadow: 0 3rem 6rem var(--color-black-transparent);
  transform: skewX(-20deg);
}
.testimonial:hover .testimonial__image {
  filter: blur(0.3rem) brightness(80%);
  transform: translate(-4rem) scale(1);
}
.testimonial:hover .testimonial__image-caption {
  top: 50%;
  opacity: 1;
}
.testimonial__image-container {
  height: 15rem;
  width: 15rem;
  float: left;
  clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(20deg);
  position: relative;
  overflow: hidden;
}
.testimonial__image {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
  backface-visibility: hidden;
}
.testimonial__image-caption {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--color-white);
  line-height: 1.5;
  letter-spacing: 0.2rem;
  opacity: 0;
  transition: all 0.5s ease;
  backface-visibility: hidden;
}
.testimonial__text-container {
  text-align: left;
  transform: skewX(20deg);
}
.testimonial__text--content {
  line-height: 1.5;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  overflow: hidden;
  z-index: -1;
}
.background-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 2px;
  border-bottom: 3px solid transparent;
  display: block;
  width: 90%;
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--color-primary);
  box-shadow: 0 1rem 2rem var(--color-black-transparent);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--color-secondary-dark);
}
.form__input::placeholder {
  color: var(--color-grey-dark-2);
}
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, var(--color-primary-light-transparent), var(--color-primary-dark-transparent)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__title-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light-1);
  padding: 20rem 8rem 25rem;
  margin-top: -20vh;
}
.about__content-container {
  display: flex;
}
.about__content {
  width: 45%;
  padding-top: 4rem;
  margin-left: 3rem;
}
.about__content > :not(:last-child) {
  margin-bottom: 3rem;
}

.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20rem 18rem;
  margin-top: -15vh;
  background-color: var(--color-grey-light-1);
}
.feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(to bottom right, var(--color-primary-light-transparent), var(--color-primary-dark-transparent)), url("/img/nat-4.jpg");
  background-position: center;
  background-size: cover;
  transform: skewY(-7deg);
}

.tours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0 5rem;
  background-color: var(--color-grey-light-1);
}

.stories {
  font-size: var(--default-font-size);
  text-align: center;
  padding: 10rem 0;
  position: relative;
}

.booking {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-dark));
}
.booking__form-container {
  background-image: linear-gradient(105deg, var(--color-white-transparent) 0, var(--color-white-transparent) 50%, rgba(255, 0, 0, 0) 50%), url("../img/nat-10.jpg");
  background-size: cover;
  background-position: top;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem var(--color-black-transparent);
  height: 60%;
  width: 70%;
}

form {
  padding: 6rem;
  width: 55%;
}

/*# sourceMappingURL=style.css.map */
