:root {
  // COLORS
  --color-primary: #7ed56f;
  --color-primary-light: #55c57a;
  --color-primary-dark: #28b485;

  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  

  --color-grey-light: #eee;
  --color-grey-light-1: #f7f7f7;
  --color-grey-dark: #777;

  --color-white: #fff;
  --color-black: #000;

  --color-white-transparent: rgba(255, 255, 255, 0.7);
  --color-primary-transparent: rgba(126, 213, 111, 0.8);
  --color-primary-light-transparent: rgba(85, 197, 122, 0.8);
  --color-primary-light-transparent-2: rgba(85, 197, 122, 0.5);
  --color-primary-dark-transparent: rgba(39, 180, 133, 0.8);
  --color-primary-dark-transparent-2: rgba(39, 180, 133, 0.5);

  --color-grey-light-transparent: rgba(238, 238, 238, 0.7);
  --color-black-transparent: rgba(0, 0, 0, 0.2);

  // FONT-SIZE
  --default-font-size: 1.6rem;
}
