:root {
  --color-primary: #7ed56f;
  --color-primary-light: #55c57a;
  --color-primary-dark: #28b485;

  --color-primary-light-transparent: rgba(85, 197, 122, 0.8);
  --color-primary-dark-transparent: rgba(39, 180, 133, 0.8);

  --color-grey-light: #eee;
  --color-grey-light-1: #f7f7f7;
  --color-grey-dark: #777;

  --color-white: #fff;
  --color-black: #000;
  --color-black-transparent: rgba(0, 0, 0, 0.2);
}
