.card {
  text-align: center;

  position: relative;

  width: 30rem;
  height: 45rem;
  perspective: 100rem; // to change the perspective of an element, we have to define the 'perspective' property in its PARENT element

  &__container {
    display: flex;
    margin-bottom: 7rem;
  }

  &:not(:last-child) {
    margin-right: 4rem;
  }

  &:hover &__side-front {
    transform: rotateY(180deg);
  }

  &:hover &__side-back {
    transform: rotateY(0);
  }

  &__side {
    // absolute positioning makes both card (front/back) on top of each other.
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: hidden; // prevents image from over-flowing container
    box-shadow: 0 1.5rem 4rem var(--color-black-transparent);

    transition: all 0.8s ease;
    backface-visibility: hidden; // hides the back side of both cards when they are rotated 180deg

    ////////////////////////////////////////////////
    // Card -- FRONT SIDE
    &-front {
      &-image {
        height: 23rem;
        background-size: cover;
        background-position: top;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

        background-blend-mode: screen;

        &--1 {
          background-image: linear-gradient(
              to bottom right,
              var(--color-secondary-light-transparent-2),
              var(--color-secondary-dark-transparent-2)
            ),
            url("../img/nat-5.jpg"); // added '../' because this code will be compiled to the 'style.css' file, which is in a folder
        }

        &--2 {
          background-image: linear-gradient(
              to bottom right,
              var(--color-primary-light-transparent-2),
              var(--color-primary-dark-transparent-2)
            ),
            url("../img/nat-6.jpg");
        }

        &--3 {
          background-image: linear-gradient(
              to bottom right,
              var(--color-tertiary-light-transparent-2),
              var(--color-tertiary-dark-transparent-2)
            ),
            url("../img/nat-7.jpg");
        }
      }

      &-title {
        font-size: 2.8rem;
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;
        color: var(--color-white);

        position: absolute;
        top: 30%;
        right: 0;
        margin-right: 2rem;

        & > * {
          padding: 0.6rem 1rem;
        }

        & :first-child {
          position: relative;
          bottom: 0.6rem;
        }

        &--1 {
          & > * {
            background-image: linear-gradient(
              to bottom right,
              var(--color-secondary-light-transparent),
              var(--color-secondary-dark-transparent)
            );
          }
        }

        &--2 {
          & > * {
            background-image: linear-gradient(
              to bottom right,
              var(--color-primary-light-transparent),
              var(--color-primary-dark-transparent)
            );
          }
        }

        &--3 {
          & > * {
            background-image: linear-gradient(
              to bottom right,
              var(--color-tertiary-light-transparent),
              var(--color-tertiary-dark-transparent)
            );
          }
        }
      }

      &-details {
        padding: 0 4rem;
        list-style: none;

        & > * {
          padding: 1.5rem 0;
        }

        & :not(:last-child) {
          border-bottom: 2px solid var(--color-grey-light);
        }
      }
    }

    ////////////////////////////////////////////////
    // Card -- BACK SIDE
    &-back {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      // back-side initially flipped and since 'backface-visibility: hidden;' is set to hidden, its backside is hidden for the user -->
      transform: rotateY(-180deg);

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          var(--color-secondary-light),
          var(--color-secondary-dark)
        );
      }

      &--2 {
        background-image: linear-gradient(
          to right bottom,
          var(--color-primary),
          var(--color-primary-dark)
        );
      }

      &--3 {
        background-image: linear-gradient(
          to right bottom,
          var(--color-tertiary-light),
          var(--color-tertiary-dark)
        );
      }

      &-title {
        &-container {
          color: var(--color-white);
        }

        &--small {
          font-size: 3rem;
          font-weight: 300;
          margin-bottom: 2rem;
        }

        &--big {
          font-size: 6rem;
          font-weight: 300;
          margin-bottom: 3rem;
        }
      }
    }
  }
}
